---
import CardLaunch from "./CardLaunch.astro";
import { getLastestLaunches } from "../services/spacex";

const launches = await getLastestLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  <!-- NO es Jsx -->
  {
    launches.map((launch) => (
      <CardLaunch 
        id={launch.id}
        img={launch.links.patch.small}
        details={launch.details}
        flightNumber={launch.flight_number}
        success={launch.success}
        wikiLink={launch.links.wikipedia}
      />
    ))
  }
</div>
